package ${base_package}.rest.dto.response;

import lombok.Getter;
import lombok.Setter;
import java.io.Serializable;
import java.util.Date;
import java.math.BigDecimal;
import java.time.LocalDateTime;
import java.time.LocalDate;

/** ${domain_desc}公开响应。字段来自批准的 OpenAPI allowlist。 */
@Getter
@Setter
public class ${domain_class}Response implements Serializable {
    private static final long serialVersionUID = 1L;

${field_declarations}
}
