package ${base_package}.rest.dto.request;

import ${command_dto_type};
import lombok.Getter;
import lombok.Setter;
import ${validation_namespace}.validation.constraints.NotBlank;
import ${validation_namespace}.validation.constraints.NotNull;
import java.util.Date;
import java.math.BigDecimal;
import java.time.LocalDateTime;
import java.time.LocalDate;

/** ${domain_desc}新增请求。字段来自批准的 OpenAPI allowlist。 */
@Getter
@Setter
public class ${domain_class}CreateRequest extends ${command_dto_simple_name} {

${field_declarations}
}
