<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <parent>
        <groupId>{{group_id}}</groupId>
        <artifactId>{{project_name}}-parent</artifactId>
        <version>{{project_version}}</version>
    </parent>

    <artifactId>{{project_name}}-bootstrap</artifactId>

    <dependencies>
        <dependency>
            <groupId>{{group_id}}</groupId>
            <artifactId>{{project_name}}-web</artifactId>
        </dependency>
        <dependency>
            <groupId>{{group_id}}</groupId>
            <artifactId>{{project_name}}-infrastructure</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter</artifactId>
        </dependency>
        <dependency>
            <groupId>com.yss.cloud</groupId>
            <artifactId>yss-component-excel-mvc</artifactId>
        </dependency>
        <dependency>
            <groupId>com.yss.cloud</groupId>
            <artifactId>yss-component-distributed-id</artifactId>
        </dependency>
        <dependency>
            <groupId>com.yss.cloud</groupId>
            <artifactId>yss-component-spring-cache</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-actuator</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-test</artifactId>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>com.tngtech.archunit</groupId>
            <artifactId>archunit-junit5</artifactId>
            <version>${archunit.version}</version>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>com.h2database</groupId>
            <artifactId>h2</artifactId>
            <scope>test</scope>
        </dependency>
    </dependencies>

    <build>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
            </plugin>
        </plugins>
    </build>
</project>
