<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <parent>
        <groupId>{{parent_group_id}}</groupId>
        <artifactId>{{parent_artifact_id}}</artifactId>
        <version>{{parent_version}}</version>
        <relativePath />
    </parent>
    <modelVersion>4.0.0</modelVersion>

    <groupId>{{group_id}}</groupId>
    <artifactId>{{project_name}}-parent</artifactId>
    <version>{{project_version}}</version>
    <packaging>pom</packaging>

    <name>{{project_name}}-parent</name>
    <description>{{project_description}}</description>

    <properties>
        <yss-components.version>{{yss_components_version}}</yss-components.version>
        <maven.compiler.source>1.8</maven.compiler.source>
        <maven.compiler.target>1.8</maven.compiler.target>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <mapstruct.version>1.5.5.Final</mapstruct.version>
        <lombok.version>1.18.30</lombok.version>
        <lombok-mapstruct-binding.version>0.2.0</lombok-mapstruct-binding.version>
        <swagger-annotations-v3.version>2.2.22</swagger-annotations-v3.version>
        <archunit.version>1.2.1</archunit.version>
        <maven-compiler-plugin.version>3.11.0</maven-compiler-plugin.version>
        <maven-enforcer-plugin.version>3.5.0</maven-enforcer-plugin.version>
    </properties>

    <modules>
        <module>{{project_name}}-domain</module>
        <module>{{project_name}}-application</module>
        <module>{{project_name}}-infrastructure</module>
        <module>{{project_name}}-adapter</module>
        <module>{{project_name}}-bootstrap</module>
    </modules>

    <dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>com.yss.cloud</groupId>
                <artifactId>yss-components-bom</artifactId>
                <version>${yss-components.version}</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
            <dependency>
                <groupId>com.yss.cloud</groupId>
                <artifactId>yss-component-excel-mvc</artifactId>
                <version>${yss-components.version}</version>
            </dependency>
            <dependency>
                <groupId>com.yss.cloud</groupId>
                <artifactId>yss-component-distributed-id</artifactId>
                <version>${yss-components.version}</version>
            </dependency>
            <dependency>
                <groupId>com.yss.cloud</groupId>
                <artifactId>yss-component-spring-cache</artifactId>
                <version>${yss-components.version}</version>
            </dependency>
            <dependency>
                <groupId>com.tngtech.archunit</groupId>
                <artifactId>archunit-junit5</artifactId>
                <version>${archunit.version}</version>
            </dependency>

            <dependency>
                <groupId>{{group_id}}</groupId>
                <artifactId>{{project_name}}-domain</artifactId>
                <version>${project.version}</version>
            </dependency>
            <dependency>
                <groupId>{{group_id}}</groupId>
                <artifactId>{{project_name}}-application</artifactId>
                <version>${project.version}</version>
            </dependency>
            <dependency>
                <groupId>{{group_id}}</groupId>
                <artifactId>{{project_name}}-infrastructure</artifactId>
                <version>${project.version}</version>
            </dependency>
            <dependency>
                <groupId>{{group_id}}</groupId>
                <artifactId>{{project_name}}-web</artifactId>
                <version>${project.version}</version>
            </dependency> {{db_dependency}} </dependencies>
    </dependencyManagement>

    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <version>${maven-compiler-plugin.version}</version>
                <configuration>
                    <parameters>true</parameters>
                    <annotationProcessorPaths>
                        <path>
                            <groupId>org.mapstruct</groupId>
                            <artifactId>mapstruct-processor</artifactId>
                            <version>${mapstruct.version}</version>
                        </path>
                        <path>
                            <groupId>org.projectlombok</groupId>
                            <artifactId>lombok</artifactId>
                            <version>${lombok.version}</version>
                        </path>
                        <path>
                            <groupId>org.projectlombok</groupId>
                            <artifactId>lombok-mapstruct-binding</artifactId>
                            <version>${lombok-mapstruct-binding.version}</version>
                        </path>
                    </annotationProcessorPaths>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-enforcer-plugin</artifactId>
                <version>${maven-enforcer-plugin.version}</version>
                <executions>
                    <execution>
                        <id>enforce-target-ddd-baseline</id>
                        <goals><goal>enforce</goal></goals>
                        <configuration>
                            <rules>
                                <requireJavaVersion><version>[1.8,1.9)</version></requireJavaVersion>
                                <requireMavenVersion><version>[3.6.3,)</version></requireMavenVersion>
                                <reactorModuleConvergence/>
                                <dependencyConvergence/>
                            </rules>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-source-plugin</artifactId>
                <executions>
                    <execution>
                        <id>attach-sources</id>
                        <goals>
                            <goal>jar</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
</project>
